<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} Gas Savior</title>


        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='logo.ico') }}">
        {% endblock %}
    </head>
    <body>
        <div>
            <form action="/" method="POST">
                <div id="input">
                    <input type="text" name="mpg" placeholder="Miles Per Gallon">
                    <input type="text" name="tank" placeholder="Tank Size in Gallons">
                    <input type="text" name="start" placeholder="Starting Location">
                    <input type="text" name="end" placeholder="Ending Location">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>