<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %}{% endblock %} car website</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='logo.ico') }}">
        <style>
            .input{
                margin: 5px;
                text-align: center;
            }

            #mapped{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
          </style>
        {% endblock %}
    </head>
    <body>
        <div>
            <form action="/" method="POST">
                <div class="input">
                    <input type="text" name="model" placeholder="Model">
                    <input type="text" name="year" placeholder="Year">
                    <input type="text" name="make" placeholder="Make">
                    <input type="text" name="mpg" placeholder="Miles Per Gallon">
                    <input type="text" name="tank" placeholder="Tank Size">
                </div>
                <div class="input">
                    <input type="text" name="start" placeholder="Starting Location">
                    <input type="text" name="end" placeholder="Ending Location">
                </div>
                <div class="input">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>