{% extends 'default.html' %}

{%block body%}
   <iframe
        id="mapped"
        style="border:2px"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src={{url}}>
    </iframe> 

    <table>
        <tr>
            <td>
                City
            </td>
            <td>
                Price
            </td>
            <td>
                Link
            </td>
        </tr>
        {% for x in db %}
        <tr>
            <td>
                {{x[0]}}
            </td>
            <td>
                {{x[1]}}
            </td>
            <td>
                <a href="url" link="{{x[2]}}">Click Me to update map</a>
            </td>
        </tr>
    
        {% endfor %}
    </table>
</h1>
{% endblock %}
