{% extends 'default.html' %}

{%block body%}
   <iframe
        id="mapped"
        style="border:2px"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src={{url}}>
    </iframe> 

    <table>
        <tr>
            <td>
                City
            </td>
            <td>
                Price
            </td>
           
        </tr>
        {% for x in db %}
        <tr>
            <td>
                {{x[0]}}
            </td>
            <td>
                {{x[1]}}
            </td>
            
        </tr>
    
        {% endfor %}
        <td>
            Total for Trip
        </td>
        <td>
            {{trip}}
        </td>
    </table>
</h1>
{% endblock %}
