html, body{
    background-color:antiquewhite;
    height: 100%;
    width: 100%;
    margin: 0;
}

#input{
    background-color: aqua;
    padding: 5px;
    text-align: center;
}

#mapped{
    height: 50%;
    width: 100%;
}

table{
    text-align: center;
    margin: 0;
    width: 100%;
}

tr{
    border: 1px solid;
    width: 100%;
}

td{
    border: 1px solid;
    width: 25%;
}
